.darkModeButton{
    border: none;
    background-color: transparent;
    padding-left: 12px;
    transition: color 1s ease, text-shadow 1s ease; /* Transition for the 'color' property */
    text-shadow: none;
}

.tab:hover {
    background-color: rgba(249, 249, 249, 0.3);
    transition: background-color 1s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
}

.tabDarkMode:hover{
    text-decoration: underline;
    transition: underline 1 ease;
}